.container {
  border: 1px solid #ddd;
}

.story-item {
  padding: 5px;
  border-bottom: 1px solid #ddd;
}

.story-form {
  border: 1px solid #ddd;
  background: wheat;
}

.cancel-story {
  text-decoration: line-through;
}


.container{
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  padding: 5px;
  margin: 10px;
}

.counter{
  display: flex;
  justify-content: space-between;
  border: 1px solid #ddd;
  padding: 5px;
  margin: 10px;
}

.theme1 {
  background: purple;
  color: white;
}
.theme2 {
  background: yellowgreen;
}