.container {
  border: 1px solid #ddd;
}

.story-item {
  padding: 5px;
  border-bottom: 1px solid #ddd;
}

.story-form {
  border: 1px solid #ddd;
  background: wheat;
}

.cancel-story {
  text-decoration: line-through;
}